#!/usr/bin/env -S rc -e

fn log {
	echo $* >[1=2]
}

fn usage {
	log '<SPN_SUPERPOSITION_URL> <SPN_SUPERPOSITION_KEY> unset'
}

if(~ $SPN_SUPERPOSITION_URL $SPN_SUPERPOSITION_KEY '') {
	usage
	exit 2
}

if(~ $SPN_PASSPORT_SOLVER '') {
	SPN_PASSPORT_SOLVER=`{./deploy.rc solver.passport-superposition-so.wasm}
}

if(~ $SPN_PASSPORT_APPLY '') {
	SPN_PASSPORT_APPLY=`{./deploy.rc apply.passport-superposition-so.wasm}
}

log 'SPN_PASSPORT_SOLVER='$SPN_PASSPORT_SOLVER

if(~ $SPN_PASSPORT_SETTER '') {
	SPN_PASSPORT_SETTER=`{./deploy.rc setter.passport-superposition-so.wasm}
}

log 'SPN_PASSPORT_SETTER='$SPN_PASSPORT_SETTER

if(~ $SPN_PASSPORT_ADMIN '') {
	SPN_PASSPORT_ADMIN=`{./deploy.rc admin.passport-superposition-so.wasm}
}

log 'SPN_PASSPORT_ADMIN='$SPN_PASSPORT_ADMIN

./deploy-proxy.rc
