#!/usr/bin/env -S rc -e

if(~ \
	$SPN_SUPERPOSITION_URL \
	$SPN_SUPERPOSITION_KEY \
	$SPN_PASSPORT_SOLVER \
	$SPN_PASSPORT_APPLY \
	$SPN_PASSPORT_SETTER \
	$SPN_PASSPORT_ADMIN \
	'') exit 1

forge create \
	--broadcast \
	--private-key $SPN_SUPERPOSITION_KEY \
	--rpc-url $SPN_SUPERPOSITION_URL \
	--json \
	src/Proxy.sol:Proxy \
	--constructor-args \
	$SPN_PASSPORT_SOLVER \
	$SPN_PASSPORT_APPLY \
	$SPN_PASSPORT_SETTER \
	$SPN_PASSPORT_ADMIN \
	0x0000000000000000000000000000000000000000 \
		| jq -r .deployedTo
